# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
cities = pd.read_csv("WeatherPy.csv", encoding="utf-8")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ampanihy,-24.7000,44.7500,61.68,78,100,13.06,MG,1635564273
1,east london,-33.0153,27.9116,58.14,88,20,8.05,ZA,1635564793
2,chokurdakh,70.6333,147.9167,-15.02,99,99,2.33,RU,1635564276
3,sao filipe,14.8961,-24.4956,78.19,75,99,8.72,CV,1635564277
4,cape town,-33.9258,18.4232,63.09,78,75,3.00,ZA,1635564555

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
humidity = cities["Humidity"]
maxhumidity = humidity.max()
locations = cities[["Lat", "Lng"]]
gmaps.configure(api_key = g_key)

In [23]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=800,point_radius=10)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
narrowed_city_df = cities.loc[(cities["Max Temp"] > 60) & (cities["Max Temp"] < 90) & (cities["Cloudiness"] < 30)]
#narrowed_city_df = narrowed_city_df.dropna(how='any')
#narrowed_city_df.reset_index(inplace=True)
#del narrowed_city_df['index']
narrowed_city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,progreso,21.2833,-89.6667,73.51,58,28,12.19,MX,1635564291
19,busselton,-33.6500,115.3333,69.04,52,5,5.88,AU,1635564294
26,mar del plata,-38.0023,-57.5575,61.88,98,20,20.00,AR,1635564699

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotellist = []
print(narrowed_city_df)

for i, row in narrowed_city_df.iterrows():
#for i in range(len(narrowed_city_df)):
    #lat = narrowed_city_df.loc[i]['Lat']
    #lng = narrowed_city_df.loc[i]['Lng']
    
    lat = row['Lat']
    lng = row['Lng']
    print(lat)
    print(lng)
    
        
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "lodging",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.loc[i, "Hotel Name"]=jsn['results'][0]['name']
    except:
        hotellist.append("")
#narrowed_city_df["Hotel Name"] = hotellist
#narrowed_city_df = narrowed_city_df.dropna(how='any')
hotellist

             City      Lat       Lng  Max Temp  Humidity  Cloudiness  \
16       progreso  21.2833  -89.6667     73.51        58          28
19      busselton -33.6500  115.3333     69.04        52           5
26  mar del plata -38.0023  -57.5575     61.88        98          20

    Wind Speed Country        Date
16       12.19      MX  1635564291
19        5.88      AU  1635564294
26       20.00      AR  1635564699
21.2833
-89.6667
-33.65
115.3333
-38.0023
-57.5575

['', '', '']

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [8]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fi

NameError: name 'fi' is not defined